@using jaymvc.Extensions
@using jaymvc.Models.Home
@model Home
@{
    ViewData["Title"] = $"Hello {Model.Name}";
}
@section js{
    @Url.ViewJavascript("wireUpTypeAhead, scrollTo, edit, delete, load")
    <script type="text/javascript">
        $.onAction('refresh',
            function(e, data) {
                $(data.target).addClass('on-visible');
            });
    </script>
}
@section nocontainer{
    <div class="sticky-top bg-light p-2" style="top:55px">
        <div class="text-center">
            <button class="btn btn-outline-secondary action-scroll-to" data-where="#todosWrapper">Todos</button>
        </div>
    </div>
}


<div id="welcome">
    <div class="jumbotron">
        <h4 class="display-4">Welcome @Model.Name</h4>
        <p class="lead">This is a sample hybrid javascript and dotnet core mvc 8.0 site.</p>
        <hr class="my-4">
        <p>Below is a simple todo list.  It demonstrates the plugins for typeahead, scroll to, edit, delete, jay.modal, jay.ajax, json envelopes, jay.alert, jay.loading and other custom javascript plug ins that make this site responsive.</p>
        <p class="text-muted">for the type ahead of assignee please use the last name "Brummels" to see how it works.</p>
    </div>
</div>


<div id="todosWrapper">
    <div class="card mb-5">
        <div class="card-header py-2 pr-2 bg-secondary text-light clearfix">
            <span class="float-left">Todos</span>
            <span class="float-right"><a class="btn btn-sm py-0 btn-secondary action-edit" data-url="@Url.PartialAddTodo()" data-save-url="@Url.JsonSaveTodo()" data-title="Add Todo" data-target="#todos"><i class="fa fa-plus"></i></a></span>
        </div>
        <div class="card-body">
            <p class="card-text">Todos will show up below if you have any.  <a href="#" class="action-refresh" data-target="#todos">Refresh</a></p>
            <div id="todos" data-url="@Url.PartialTodos()" class="on-visible" data-visibility-action="load">

            </div>
        </div>
    </div>
</div>
